body{
    background-image: url("pic/Background.jpg");
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    background-color: lightblue;
    color: navy;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}
h2{
    background-color: aquamarine;
    color: violet;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}
#pro1{
    height: 50%;
    width: 50%;
    display: block;
}
#pro2{
    height: 70%;
    width: 70%;
    display: block;
}
#pro3{
    height: 50%;
    width: 50%;
    display: block;
}
#pro4{
    height: 50%;
    width: 50%;
    display: block;
}
#pro5{
    height: 40%;
    width: 40%;
    display: block;
}
#pro6{
    height: 70%;
    width: 70%;
    display: block;
}
#pro7{
    height: 30%;
    width: 50%;
    display: block;
}
#pro8{
    height: 30%;
    width: 50%;
    display: block;
}
#pro9{
    height: 50%;
    width: 50%;
    display: block;
}
#pro10{
    height: 50%;
    width: 50%;
    display: block;
}
#pro11{
    height: 50%;
    width: 50%;
    display: block;
}
#pro12{
    height: 50%;
    width: 50%;
    display: block;
}
#pro13{
    height: 30%;
    width: 30%;
    display: block;
}



li{
    background-color: lightskyblue;
    color: navy;
    font-size: 22px;
    font-weight: bold;
    position: static;
    width: 1750px;
    border: 15px solid navy;
    padding: 20px;
    margin: 20px;
}
p{
background-color: lightsalmon;
color: lightgreen;
font-size: 30px;
text-align: center;
}



